@font-face {
  font-family: "roboto-regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto-bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(#050509), to(#260e53));
  background: -webkit-linear-gradient(bottom, #050509 0%, #260e53 100%);
  background: linear-gradient(to top, #050509 0%, #260e53 100%); }

.text-wrap {
  position: relative;
  margin-bottom: 32px;
  padding-top: 24px; }

.header {
  color: rgba(206, 239, 254, 0.6);
  font-size: 28px;
  line-height: 1.4;
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Rubik', sans-serif; }

.subheader {
  color: rgba(206, 239, 254, 0.6);
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 32px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal; }
  .subheader svg {
    height: 20px;
    padding-left: 8px;
    position: relative;
    top: 3px;
    fill: rgba(206, 239, 254, 0.6);
    -webkit-animation: tap 5s ease-in infinite normal;
            animation: tap 5s ease-in infinite normal; }

.magic-ball {
  background: none;
  border: 0;
  line-height: normal;
  overflow: visible;
  padding: 0;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 600px;
  margin-bottom: 48px;
  border-radius: 50%;
  background-image: url("../img/ball-main.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }
  .magic-ball:focus, .magic-ball:active {
    outline: none; }

.triangle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-image: url("../img/triangle.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: turnFlow 15s ease-out infinite alternate;
          animation: turnFlow 15s ease-out infinite alternate; }
  @media only screen and (max-width: 480px) {
    .triangle {
      width: 190px;
      height: 190px; } }
  @media only screen and (max-width: 320px) {
    .triangle {
      width: 150px;
      height: 150px; } }
  .triangle svg {
    position: relative;
    top: 10px;
    fill: rgba(206, 239, 254, 0.6);
    -webkit-animation: tap 5s ease-in infinite normal;
            animation: tap 5s ease-in infinite normal; }

#particles-js {
  width: 90%;
  height: 90%;
  position: absolute; }
  #particles-js canvas {
    border-radius: 50%; }

.advice-text {
  position: relative;
  top: -3px;
  padding: 0 84px;
  color: #CEEFFE;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif; }
  @media only screen and (max-width: 480px) {
    .advice-text {
      font-size: 14px;
      line-height: 1.3; } }
  @media only screen and (max-width: 320px) {
    .advice-text {
      font-size: 11px;
      line-height: 1.3; } }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #9696ff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.4;
  padding-bottom: 24px; }
  .footer span {
    padding: 8px;
    opacity: .3; }
    .footer span:hover {
      cursor: default;
      opacity: .6; }
  .footer svg {
    height: 24px;
    padding-right: 4px;
    position: relative;
    top: 7px;
    fill: #9696ff; }

.shaker {
  -webkit-animation: shake 1000ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 1000ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000px;
          perspective: 1000px; }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-10px, 15px, 0);
            transform: translate3d(-10px, 15px, 0); }
  20%, 80% {
    -webkit-transform: translate3d(20px, -15px, 0px);
            transform: translate3d(20px, -15px, 0px); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-10px, 17px, 10px);
            transform: translate3d(-10px, 17px, 10px); }
  40%, 60% {
    -webkit-transform: translate3d(40px, -23px, 0);
            transform: translate3d(40px, -23px, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-10px, 15px, 0);
            transform: translate3d(-10px, 15px, 0); }
  20%, 80% {
    -webkit-transform: translate3d(20px, -15px, 0px);
            transform: translate3d(20px, -15px, 0px); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-10px, 17px, 10px);
            transform: translate3d(-10px, 17px, 10px); }
  40%, 60% {
    -webkit-transform: translate3d(40px, -23px, 0);
            transform: translate3d(40px, -23px, 0); } }

@-webkit-keyframes turnFlow {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); } }

@keyframes turnFlow {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); } }

@-webkit-keyframes tap {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  64% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  66% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  68% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  69% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  71% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  73% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes tap {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  64% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  66% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  68% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  69% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  71% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  73% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
